/* CSS Document */
html, body {
    font-family: Tahoma;
    font-size: 12px;
    color: #333;
    margin: 0px;
}

#container {

}

.homelink {
    color: #3C7BDB;
    text-decoration: none;
}

.homelink:hover {
    color: #E59930;
}

.head {
    background-image: url('images/HeadBack.jpg');
    background-repeat: repeat-x;
    background-color: #3C7BDB;
    height: 75px;
}

.headCont {

    margin: 0 auto;
    width: 775px;
}

.navBarMaster {
    background-image: url('images/NavBack.gif');
    background-repeat: repeat-x;
    height: 31px;
    padding-top: 7px;
}

.navBarCont {
    width: 600px;
    margin: 0 auto;

}

.navText {
    color: #E59930;
    background-color: #FFFFFF;
    padding: 2px 10px 1px 20px;
    float: left;
    font-size: 11px;
    border-right: solid 1px #CCC;
}

.navText a {
    font-size: 11px;
    text-decoration: none;
    color: #555;
}

.navText a:hover {
    font-size: 11px;
    text-decoration: underline;
    color: #E59930;
}

#contentMain {
    width: 900px;
    margin: 0 auto;
}

#content {
    margin: 5px;
    padding: 10px;
    width: 900px;
    margin: 0 auto;
    text-align: left;
    font-size: 12px;
}

#content ul {
    font-size: 1.1em;
    list-style-type: none;
    margin-left: 5px;
    margin-top: 5px;
}

#content li {
    padding: 10px;
    border-bottom: solid 1px #666;
}

#content li a {
    color: #3C7BDB;
    text-decoration: none;
}

#content li a:hover {
    color: #E59930;
    text-decoration: none;
}

.pubs {
    width: 180px;
    padding: 10px;
}

.pubs p {
    margin-left: 20px;
    text-align: left;
    width: 150px;
}

.pubList {
    margin-left: 10px;
}

.pubList h1 {
    background-color: #F3F3F3;
    border: solid 1px #DADADA;
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
}

.pubList p {
    text-align: right;
    margin-top: -10px;
    padding-top: 0px;
}

#gsText {
}

#gsText h1 {
    font-size: 14px;
    border: solid 1px #DADADA;
    background-color: #F3F3F3;
    padding: 10px;
    width: 90%;
}

#gsText a {
    text-decoration: none;
    color: #3C7BDB;
}

#gsText a:hover {
    text-decoration: underline;
    color: #E59930;
}

#gsText .title {
    font-size: 14px;
    padding: 5px;
}

#gsText .text {
    border-bottom: dashed 1px #333;
    padding: 10px;
}

.aboutDiv {
    padding: 0px 10px 10px 10px;
}

.aboutDiv p {
    line-height: 1.5em;
}

.aboutDiv p a {
    color: #3C7BDB;
    text-decoration: none;
}

.aboutDiv p a:hover {
    color: #E59930;
    text-decoration: none;
}

.aboutDiv h1 {
    font-size: 14px;
    border: solid 1px #DADADA;
    background-color: #F3F3F3;
    padding: 10px;
    width: 90%;
}

.a {
    text-decoration: none;
    color: #3C7BDB;
}

.aboutDiv a:hover {
    text-decoration: underline;
    color: #E59930;
}

.downloads {
    padding: 0px 10px 10px 10px;
}

.downloadLink {
    font-size: 14px;
    border: solid 1px #DADADA;
    background-color: #F3F3F3;
    padding: 10px;
    width: 50%;
}

.downloads a {
    text-decoration: none;
}

.downloads a:hover {
    text-decoration: none;
    color: #E59930;
}

.quickLinks {

    background-color: #F3F3F3;
    border: solid 1px #DADADA;
    padding: 10px 10px 10px 10px;
    width: 190px;
    text-align: center;

}

.quickLinkItem {

    background-color: #FFF;
    border: solid 1px #DADADA;
    font-size: 14px;
    height: 17px;
    text-align: left;
    padding: 5px;
    margin: 5px;
}

.quickLinkItem:hover {

    background-color: #DADADA;
    border: solid 1px #666;
    font-size: 14px;
    height: 17px;
    text-align: left;
    padding: 5px;
    margin: 5px;
}

.quickLinkItem a {
    color: #000;
    text-decoration: none;
}

.quickLinkItem a:hover {
    color: #E59930;
}

#rightContent p {
    margin: 5px 5px 15px 5px;
}

#content h1 {
    font-size: 14pt;
    font-weight: bold;
    color: #333;
}

#content h2 {
    font-size: 12pt;
    font-weight: bold;
    color: #333;
}

#content p {
    border-top: dashed 1px #999;
}

#content p a {
    text-decoration: none;
}

#content p a:hover {
    text-decoration: none;
    color: #E59930;
}

.foot {
    background-color: #EAEAEA;
    height: 10%;
    border-top: solid 1px #666;
    border-bottom: solid 1px #666;
    clear: both;

}

.footNav {
    width: 275px;
    margin: 0 auto;
    padding: 10px 0px 20px 0px;

}

.navLeft {
    float: left;
    background-image: url('images/navBar_Left.gif');
    background-repeat: no-repeat;
    width: 65px;
    background-position: left;
    height: 16px;
}

.navRight {
    float: left;
    background-image: url('images/navBar_Right.gif');
    background-repeat: no-repeat;
    width: 77px;
    background-position: right;
    height: 16px;
}

.footNav a {
    font-size: 11px;
    text-decoration: none;
    color: #555;
}

.footNav a:hover {
    font-size: 11px;
    text-decoration: underline;
    color: #E59930;
}

.copyright {
    font-size: 9px;
    color: #666;
    padding-top: 10px;
    text-decoration: none;
}

.copyright a {
    text-decoration: none;
    color: #666;
    font-size: 9px;
}

.copyright a:hover {
    color: #FF6600;
    font-size: 9px;
}
